
.registr{
    margin: 0 auto;
}
.registr__card{
    width: 1200px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.registr__title{
    width: 759px;
height: 69px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 38px;
font-weight: 400;
line-height: 43.67px;
margin-left: 20%;

}
@media (min-width: 968px) and (max-width: 1199px) {
    .registr {
        padding: 2px;
    }
    .registrcard {
        width: 300px; /* Kartalarni biroz qisqartirish */
        height: 420px;
    }
    .registrcard__img {
        width: 320px;
        height: 150px;
    }
    .registr__title {
        width: 80%;
        font-size: 34px;
        margin-left: 29%;
    }
    .registr__card {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media (min-width: 767px) and (max-width: 968px) {
    .registr {
        padding: 2px;
    }
    .registrcard {
        padding: 20px 0;
        width: 280px; /* Kartalarni yanada qisqartirish */
        height: 400px;
    }
    .registrcard__img {
        width: 300px;
        height: 140px;
    }
    .registr__title {
        padding-bottom: 6%;
        width: 470px;
        font-size: 30px;
        text-align: center;
    }
    .registr__card {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-right: 10%;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .registr {
        padding: 2px;
    }
    .registrcard {
        width: 250px;
        height: 370px;
    }
    .registrcard__img {
        width: 270px;
        height: 130px;
    }
    .registr__title {
        width: 90%;
        font-size: 24px;
        margin-left: 5%;
        text-align: center;
    }
    .registr__card {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 375px) and (max-width: 576px) {
    .registr {
        padding: 10px;
    }
    .registrcard {
        width: 220px;
        height: 350px;
    }
    .registrcard__img {
        width: 240px;
        height: 120px;
    }
    .registr__title {
        width: 95%;
        font-size: 20px;
        margin-left: 2.5%;
        text-align: center;
    }
    .registr__card {
        width: 100%;
        justify-content: center;
        /* margin-right: 30%; */
    }
}
@media (min-width: 320px) and (max-width: 375px) {
    .registr {
        padding: 5px;
    }
    .registrcard {
        width: 200px;
        height: 330px;
        
    }
    .registrcard__img {
        width: 220px;
        height: 110px;
    }
    .registr__title {
        width: 100%;
        font-size: 17px;
        text-align: center;
        margin-left: 0;
    }
    .registr__card {
        margin: 0 auto;
        width: 100%;
        /* flex-direction: column; */
        /* align-items: center; */
        margin-left: 10%;
        padding: 0;
    }
}