.navigate {}

.navigate__box {
    max-width: 1200px;
    display: flex;
}

.nav__img {
    width: 164px;
    height: 77px;
    left: 363px;
    gap: 0px;
    opacity: 0px;
    margin-top: 5px;
}

.nav__text {
    width: 129px;
    height: 45px;
    padding-left: 20px;
    padding-top: 10px;
    /* opacity: 0px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 530;
    line-height: 15.28px;
    text-align: left;

}

.nav__list {
    left: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 1000px;
    margin-left: 20px;
}

.nav__item {
    display: flex;
    text-decoration: none;
    color: #333333;
}

.nav__link {
    list-style: none;
    text-decoration: none;
    color: #333333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 549;
    line-height: 15.92px;
    letter-spacing: 0.05em;
    text-align: left;
}

.nav__tel {
    list-style: none;
    text-decoration: none;
    font-size: 19px;
    color: #333333;
    font-family: 'Times New Roman', Times, serif;
    width: 172px;
    height: 46px;
    top: 28px;
    left: 1352px;
    gap: 0px;
    opacity: 0px;
    padding-left: 38px;
    letter-spacing: 1px;
}

.nav__num {
    font-weight: 600;

}

select {
    width: 80px;
    height: 25px;
    background-color: #418E8B;
    color: white;
    border-color: #418E8B;
    border-radius: 5px;
    font-size: 14px;
}

.navigate {
    position: relative;
}

.burger-button {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (min-width: 968px) and (max-width: 1199px) {
    .nav__img {
        width: 80px;
        height: 77px;
    }

    .nav__text {
        width: 150px;
        height: 40px;
        font-size: 10px;
    }

    .nav__link {
        font-size: 12px;
        font-weight: 500;
    }

    .nav__tel {
        font-size: 16px;
        margin-right: 10px;
    }

    select {
        width: 80px;
        height: 25px;
        margin-right: 10px;
    }
}

@media (min-width: 767px) and (max-width: 968px) {
    .nav__img {
        width: 90px;
        height: 70px;
        margin-left: 20px;
    }

    .nav__text {
        display: none;
        width: 150px;
        height: 40px;
        font-size: 10px;
    }

    .nav__list {
        justify-content: space-around;
        /* gap: 10px; */
        /* margin-right: 10%; */
    }

    .nav__link {

        font-size: 12px;
        font-weight: 500;
    }

    .nav__tel {
        font-size: 16px;
        margin-right: -5px;
    }

    select {
        width: 70px;
        height: 25px;
        /* margin-right: 10%; */
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .nav__img {
        width: 100px;
        height: 77px;
        margin-left: 19px;
    }

    .nav__text {
        /* display: none; */
        width: 290px;
        height: 40px;
        font-size: 12px;
        text-align: center;
        margin-left: 6%;
    }
    .nav__link{
        font-size: 12px;
    }
    .burger-button {
        justify-content: space-around;
        display: flex;
        /* margin-left: 39%; */
        margin-top: 2.5%;
        width: 190px;
        font-size: 24px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 10px;
        transition: transform 0.3s ease;
        z-index: 10;
    }
    .nav__tel {
        display: none;
        font-size: 12px;
        margin-right: -5px;
    }
    .nav__list {
        transform: scale(0);
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 60%;
        width: 20%;
        background: rgb(244, 245, 247);
        padding: 10px;
        transition: transform 1s ease;
        gap: 39px;
         width: 290px;
         height: 290px;
         
    }
    .nav__link{
        font-size: 28px;
        color: #418E8B;
    }

    .nav__list--open {
        transform: scaleX(1);
    }
    .navigate__box {
        display: flex;
    }
    select{
        font-size: 19px;
        width: 120px;
        height: 30px;
    }
   
}
@media (min-width: 375px) and (max-width: 576px) {
    .nav__img {
        width: 100px; /* Rasmning kattaligi kichraytirilgan */
        height: 50px; /* Rasmning kattaligi kichraytirilgan */
        margin-left: 15px; /* Rasmning chapdan chetlatilishi */
    }

    .nav__text {
        width: 130px;
        height: 40px;
        font-size: 10px;
        text-align: center;
    }

    .burger-button {
        justify-content: space-around;
        display: block; /* Kichik ekranda burger tugmasini ko'rsatish */
        margin-left: auto; /* Tugmani o'ngga surish */
        margin-right: 15px; /* O'ngdan biroz masofa qo'shish */
        margin-top: 10px; /* Yuqoridan biroz masofa qo'shish */
        width: 40px; /* Kichikroq tugma kengligi */
        height: 40px; /* Kichikroq tugma balandligi */
        font-size: 24px; /* Burger tugmasining kattaligi */
        background-color: transparent; /* Fon rangini o'chirish */
        border: none; /* Chegarasiz tugma */
        cursor: pointer; /* Hoverda ko'rsatkich qo'lcha bo'lsin */
        transition: transform 0.3s ease; /* Tugma animatsiyasi */
        z-index: 10; /* Tugmani boshqa elementlardan ustun qilish */
    }

    .nav__tel {
        font-size: 14px; /* Telefon raqamining kattaligi kichraytirilgan */
        margin-right: 0; /* O'ng tomondan chegara */
    }

    .nav__list {
        transform: scale(0);
        flex-direction: column;
        position: absolute;
        top: 100%;
        /* left: 60%; */
        width: 20%;
        background: rgb(244, 245, 247);
        padding: 10px;
        transition: transform 1s ease;
        gap: 39px;
         width: 290px;
         height: 290px;
         
    }
    .nav__link{
        font-size: 28px;
        color: #418E8B;
    }


    .nav__list--open {
        transform: scaleX(1);
    }

    .navigate__box {
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }
    .nav__link{
        font-size: 19px;

    }
    .nav__tel{
        display: none;
    }
}
@media (min-width: 320px) and (max-width: 375px) {
    .nav__img {
        width: 60px; /* Rasmning kattaligi yanada kichraytirilgan */
        height: 50px; /* Rasmning balandligi kichraytirilgan */
        margin-left: 10px; /* Rasmning chapdan chetlatilishi */
    }

    .nav__text {
        font-size: 10px;
    }

    .burger-button {
        justify-content: space-around;
        display: block; /* Burger tugmasi kichik ekranda ko'rsatiladi */
        margin-left: auto; /* Tugmani o'ngga surish */
        margin-right: 10px; /* O'ngdan biroz masofa qo'shish */
        margin-top: 10px; /* Yuqoridan biroz masofa qo'shish */
        width: 35px; /* Kichikroq tugma kengligi */
        height: 35px; /* Kichikroq tugma balandligi */
        font-size: 22px; /* Burger tugmasining kattaligi biroz kichraytirilgan */
        background-color: transparent; /* Fon rangini o'chirish */
        border: none; /* Chegarasiz tugma */
        cursor: pointer; /* Hoverda ko'rsatkich qo'lcha bo'lsin */
        transition: transform 0.3s ease; /* Tugma animatsiyasi */
        z-index: 10; /* Tugmani boshqa elementlardan ustun qilish */
    }

    .nav__tel {
        font-size: 12px; /* Telefon raqamining kattaligi kichraytirilgan */
        margin-right: 0; /* O'ng tomondan chegara */
    }

    .nav__list {
        transform: scale(0);
        flex-direction: column;
        position: absolute;
        top: 100%;
       
        /* width: 16%; */
        background: rgb(244, 245, 247);
        padding: 10px;
        transition: transform 1s ease;
        gap: 39px;
         width: 250px;
         height: 290px;
         
    }
    .nav__item{
        padding: 0px;
        
    }

    .nav__list--open {
        transform: scaleX(1);
    }

    .navigate__box {
        display: flex;
        align-items: center; 
    }

    .nav__link {
        font-size: 19px;
        color: #418E8B;
       
    }
    .nav__tel{
        display: none;
        font-size: 10px;
    }
    select{
        width: 70px;
       font-size: 10px;
    }
}