.result {
    margin: 0 auto;
    padding: 30px;
}
.result__container{
    max-width: 1200px;
}
.result__name {
    width: 789px;
    height: 44px;
    top: 1661px;
    left: 596px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 38px;
    font-weight: 450;
    line-height: 43.67px;
    margin-left: 19%;
}

.result__img {
    width: 390.65px;
    height: 547.84px;
}
.result__sertif{
    max-width: 1200px;
    display: flex;
    gap: 9px;
}
.result__btn{
    width: 280px;
    height: 70px;
    background-color: #418E8B;
    border-radius: 59px;
    border: 1px solid #418E8B;
    color: #FFFFFF;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 23px 22px 22px 22px;
    margin-left: 40%;
}