html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;

}

.grey {
    color: #ABDDB1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.ant-modal-content {
    width: 390px;
    height: 330px;
    padding: 0;
    margin: 0 auto;
}
.registrmodal__title {
    text-align: center;
    margin-left: 24%;
}
.registrmodal__text{
    text-align: center;
    margin-left: 10%;
}
.form__name {
    width: 270px;
    height: 38px;
    margin-bottom: 2%;
    border-radius: 50px;
    background-color: #ABDDB1CC;
    border: 1px solid #ABDDB1CC;
    border-radius: 1px solid #ABDDB1CC;
    /* text-align: left; */
    margin-left: 10%;
}

.form__number {
    width: 270px;
    height: 40px;
    margin-bottom: 2%;
    border-radius: 50px;
    background-color: #ABDDB1CC;
    border: 1px solid #ABDDB1CC;
    border-radius: 1px solid #ABDDB1CC;
    margin-left: 10%;
}

.form__btn {
    width: 280px;
    height: 40px;
    border-radius: 50px;
    opacity: 0px;
    background: linear-gradient(90deg, #5FACA9 0%, #73C0BD 50.57%, #5FACA9 100%);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border-radius: 1px solid #ABDDB1CC;
    text-align: center;
    margin-left: 10%;
    border: #5FACA9;
    margin-left: 10%;
}


@media (min-width: 576px) and (max-width: 767px) {
    .ant-modal-content {
        width: 400px;
        height: 250px;
    }

    .registrmodal__title {
        text-align: center;
    }

    .form__name {
        width: 275px;
        height: 40px;
        margin-bottom: 2%;
        border-radius: 50px;
        background-color: #ABDDB1CC;
        border: 1px solid #ABDDB1CC;
        border-radius: 1px solid #ABDDB1CC;
    }
    .form__number{
        padding-left: 10px;
    }
    .registrmodal__text {
        display: none;
    }
}


@media (min-width: 375px) and (max-width:576px) {
    .ant-modal-content {
        width: 330px;
        height: 250px;
    }

    .registrmodal__title {
        margin-left: 15%;
        text-align: center;
    }

    .form__name {
        font-size: 10px;
        width: 220px;
        height: 35px;
        margin-bottom: 2%;
        border-radius: 50px;
        background-color: #ABDDB1CC;
        border: 1px solid #ABDDB1CC;
        border-radius: 1px solid #ABDDB1CC;
    }
    .form__number{
        width: 220px;
        height: 35px;
        margin-bottom: 2%;
        border-radius: 50px;
        background-color: #ABDDB1CC;
        border: 1px solid #ABDDB1CC;
        border-radius: 1px solid #ABDDB1CC;
    }
    .form__btn{
        width: 220px;
        height: 40px;

    }
    .registrmodal__text {
        display: none;
    }
}


@media(min-width: 320px) and (max-width:376px) {
    .ant-modal-content {
        width: 280px;
        height: 210px;
        margin-right: 40%;
        padding: 0 !important;
    }

    .registrmodal__title {
        margin-top: 20px;
        margin-left: 15%;
        text-align: center;
    }

    .form__name {
        margin-top: 10px;
        font-size: 10px;
        width: 220px;
        height: 35px;
        margin-bottom: 2%;
        border-radius: 50px;
        background-color: #ABDDB1CC;
        border: 1px solid #ABDDB1CC;
        border-radius: 1px solid #ABDDB1CC;
        /* margin-left: 10%; */
    }
    .form__number{
        width: 220px;
        height: 35px;
        margin-bottom: 2%;
        border-radius: 50px;
        background-color: #ABDDB1CC;
        border: 1px solid #ABDDB1CC;
        border-radius: 1px solid #ABDDB1CC;
    }
    .form__btn{
        width: 220px;
        height: 40px;

    }
    .registrmodal__text {
        display: none;
    }
}