html{
    scroll-behavior:smooth;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    
}
.grey{
    color:#ABDDB1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}