.registrcard {
    width: 380px;
    height: 450px;
    padding: 0;
    border-radius: 40px 0px 0px 0px;
    opacity: 0px;
    background: #F7F7F7;
    ;
}

.registrcard__container {
}

.registrcard__img {
    width: 380px;
    height: 180px;
    top: 4948px;
    left: 360px;
    gap: 0px;
    border-radius: 50px 50px 60px 50px;
    opacity: 0px;

}

.registrcard__list,.registrcard__secondlist {
   padding: 0;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    /* gap: 60px; */
    list-style: none;
}

.registrcard__name {
    width: 104px;
    height: 29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.11px;
    text-align: left;
    margin-left: 40px;
}
.registrcard__btn{
    width: 129px;
    height: 29px;
    border-radius: 31px;
    margin-right: 30px;
    color: white;
    background-color: #61ABA7;
    border: 1px solid #61ABA7;
}
.registrcard__text {
    width: 233px;
    height: 92px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left; 
    margin-left: 40px !important;
    letter-spacing: 1px;
}
.registrcard__button{
    width: 167px;
    height: 38px;
    border-radius: 31px;
    margin-left: 30px;
    color: white;
    background-color: #61ABA7;
    border: 1px solid #61ABA7;
}
.registrcard__price{
    width: 130px;
height: 21px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 21px;
text-align: left;
margin-right: 10px;
color: #4B9895;

}
